body{
    max-width: 1920px;
    width: 100%;
    display: grid;
    margin: 0px;
    grid-template-columns: auto auto auto auto auto auto;
    
    
  font-family: "Hind", sans-serif;
}
.logomarca{
    margin-top: 16px;
}
.bar-menu{
    grid-row: 1;
    grid-column: 2;
    
    grid-template-columns: 50% 200%;
    display: grid;
    height: 68px;
    max-height: 68px;
    width: 100%;
    max-width: 100%;
     
    
}
.img-btnConc{
    
    position: absolute;
    margin-left: 20px;
}

.btn-conc{
margin-top: 16px;
grid-column: 10;
grid-row: 1;
cursor: pointer;
border: none;
padding-right: 40px;

background-color: #F4F4F4;
border-radius: 100px;
font-family: 'Hind';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 26px;
align-items: center;
color: #2E3D45;
width: 181px;
height: 40px;

}

.heros-section{
    grid-column: 1/-1;
    order: 2;
    max-height: 980px;
    max-width: 100%;
}