body {
  max-width: 100%;
  width: 100%;
  display: grid;
  margin: 0px;
  grid-template-columns: Auto auto auto auto;

  font-family: "Hind", sans-serif;
}
section {
  grid-column: 2;
}
.logomarca {
  margin-top: 16px;
  grid-column: 1;
  margin-left: 65%;
}
.bar-menu {
  z-index: 99;
  background-color: #ffffff;
  grid-row: 1;
  grid-column: 1/-1;
  gap: 712px;

  grid-template-columns: auto auto;
  display: grid;
  height: 68px;
  max-height: 68px;

  max-width: 100%;
  width: 100%;
  height: 68px;
  max-height: 68px;
}
.img-btnConc {
  position: absolute;
  margin-left: 20px;
}

.btn-conc {
  margin-top: 16px;
  grid-column: 2;
  grid-row: 1;
  cursor: pointer;
  border: none;
  padding-right: 40px;

  background-color: #f4f4f4;
  border-radius: 100px;
  font-family: "Hind";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  align-items: center;
  color: #2e3d45;
  width: 181px;
  height: 40px;
}

.heros-section {
  grid-template-columns: 17em 640px auto auto;
  gap: 120px;
  align-items: center;
  display: grid;
  grid-column: 1/-1;
  grid-row: 1;
  order: 2;
  max-height: 980px;
  max-width: 100%;
}
.img-homesecao {
  max-width: 100%;
  background: linear-gradient(
    84.31deg,
    rgba(27, 27, 27, 0.5) 0.6%,
    rgba(27, 27, 27, 0.6) 49.02%,
    rgba(27, 27, 27, 0) 81.64%
  );
  grid-row: 1/-1;
  grid-column: 1/-1;
}

.heros-section h1 {
  max-width: 640rem;
  width: 640px;
  max-height: 108px;
  font-family: "Hind";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 54px;
  color: #ffffff;
}
.heros-section p {
  max-width: 640px;
  width: 640px;
  max-height: 52px;
  font-family: "Hind";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
  opacity: 0.9;
}

#text-sectionheros {
    
  grid-column: 2;
  grid-row: 1;
}
#form-cpf {
  gap: 20px;
  display: grid;
  align-items: center;
  grid-row: 1;
  grid-column: 3;
  width: 360px;
  height: 280px;
  max-height: 280px;
  max-width: 360px;
  background-color: #ffffff;
  border-radius: 17px;
}

.ftitulo {
    max-width: 312px;
    max-height: 56px;
     
  text-align: start;
  font-family: "Hind";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  color: #2e3d45;
}
form {
  margin-left: 24px;
  margin-right: 24px;
}
form input {
  border: none;
  width: 312px;
  height: 36px;
  margin-top: 23px;
  opacity: 0.3;
  font-family: "Hind";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;

  border-bottom: 1px solid #2e3d45;
}

.continuar-cadastro {
  font-family: "Hind";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  margin-top: 40px;
  width: 309px;
  height: 36px;
  color: #2e3d45;
  padding-right: 40px;
  background-color: #f4f4f4;
  border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 100px;
}

.arr {
  position: absolute;
  padding-top: 2px;
  padding-left: 12px;
}
